.container {
  display: flex;
  justify-content: center;
}
.game {
  width: 255px;
  font-size: 20px;
}
.game .title {
  text-align: center;
  background-color: #f25;
  margin: 10px 0;
  padding: 10px 0;
  color: #fff;
}
.game .squares {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
.game .square {
  background-color: #f25;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 25px;
}
.square:hover{
  background: #000;
  cursor: pointer;
}

